@import "variable";
body{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: $font-family-primary;
}
h6{
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
.text-white{
    color: #FFFFFF;
}
.app-container{
    max-width: 1296px;
    margin: 0px auto;
    // margin-top:10px;
    padding: 0 10px;
  }
  html {
    font-family: 'Open Sans', sans-serif;
  }
.container{
    position: relative;
}
input{
    width: 100%;
    border: 1px solid $color-gray-45;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    font-family: 'Nunito';
}
input[readonly]{
    background: #F3F4F4;
}
input:focus{
    border-color: $color-secondary;
    outline: none;
}
.input-sm{
    width: 100%;
    max-width: 292px;
}
.input-default{
    width: 100%;
    max-width: 300px;
}
.input-normal{
    width: 100%;
    max-width: 324px;
    height: 40px;
}
.input-md{
    width: 100%;
    max-width: 411px;
    height: 50px;
}
.input-lg{
    width: 100%;
    max-width: 460px;
    height: 50px;
}
textarea{
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #9399A0;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #283441;
    padding: 16px 20px;
    resize: none;
}
button:focus{
    outline: none;
}
.btn{
    font-size: $font-size-button;
    font-weight: 600;
    font-family: $font-family-primary;
    line-height: 19px;
    border-radius: 3px;
    border:none;
}
.btn:hover{
    cursor: pointer;
}
.btn.sm{
    padding: 10px 25px;
    height: 40px;
}
.btn.lg{
    padding: 15px 25px;
    height: 50px;
}
.btn.primary{
    background: $color-blue-grad-radial;
    color:white;
    border:none;
}
.btn.primary:hover{
    background: #3585FF;
}
.btn.primary:focus{
    background: #58AFFF;
}
.btn.primary:disabled{
    background: #D5EBFF;
    color: #82C3FF;
}
.btn.secondary{
   background: #D7E5FF;
   color: $color-primary;
   border:none;
}
.btn.secondary:hover{
    background: #C2D7FF;
}
.btn.secondary:focus{
    background:#EBF2FF;
}
.btn.secondary:disabled{
    background:#EBF2FF;
    color:#86B0FF;
}

.btn.gray{
    background: #F3F4F4;
    color: #283441;
    border:none;
 }
 .btn.gray:hover{
     background: #E7E8EA;
 }
 .btn.gray:focus{
     background:#FAFAFB;
 }
 .btn.gray:disabled{
     background:#FAFAFB;
     color:#B7BBC0;
 }
.btn.social{
    width:50px;
    height: 50px;
    border:none;
    background: none;
}
.btn.dark{
    background: #283441;
    color: white;
}
.btn.dark:hover{
    background: #101D2C;
}
.btn.dark:focus{
    background: #4C5561;
}
.btn.dark:disabled{
    background: #707780;
    color: #4C5561;
}
.btn.danger{
    color:#F5404C;
    border:1px solid #F5404C;
    background: white;
}
// common
.section{
    // margin-top:60px;
    padding: 0;
    padding-top: 60px;
}
.price-old{
    position: relative;
}
.price-old::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #283441;
    -webkit-transform: rotate(-13.32deg) translateY(-50%);
    -ms-transform: rotate(-13.32deg) translateY(-50%);
    transform: rotate(-13.32deg) translateY(-50%);
}

.avatar{
    border-radius: 15px;
}
.avatar.sm{
    width: 40px;
    height: 40px;
}
.avatar.lg{
    width: 60px;
    height: 60px;
}
// gaps and flex

.ml-2{
    margin-left: 20px
}
.mt-1{
    margin-top:10px;
}
.mt-2{
    margin-top:20px;
}
.mt-3{
    margin-top:30px;
}
.mt-5{
    margin-top: 50px;
}
.mt-4{
    margin-top: 40px;
}
.mt-6{
    margin-top: 60px;
}
.mb-6{
    margin-bottom: 60px;
}
.pa-2{
    padding: 20px;
}
.pl-2{
    padding-left: 20px;
}
.pr-2{
    padding-right: 20px;
}

.grid-container-4 {
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 36px;
    max-width: 1276px;
    justify-items: center;
    // justify-content: space-between;
}

.wrapper{
    width: 100%;
}
.desktop-only{
    display: block;
}
.mobile-only{
    display: none;
}
@media only screen and (max-width: 1295px){
    .grid-container-4{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 971px){
    .grid-container-4{
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width: 647px){
    .grid-container-4{
        grid-template-columns: auto;
    }
}

@media (max-width: 767px){
    .section{
        padding-top: 40px;
    }
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        display: block;
    }
}
@media (max-width: 769px){
    .input-default{
        max-width: 355px;
    }
}

@media only screen and (max-width: 374px){
    .btn.lg{
        padding: 10px 15px;
        height: 40px;
    }
}

// for card rate mobile
@media (max-width: 647px){
    .card-rate.mobile-card-rate{
        width: 100% !important;
        max-width: 355px;
    }
}
@media (min-width:750px) and (max-width:971px){
    .card-rate.mobile-card-rate{
        width: 100% !important;
        max-width: 355px;
    }
}
@media(min-width:1125px) and (max-width:1295px){
    .card-rate.mobile-card-rate{
        width: 100% !important;
        max-width: 355px;
    } 
}