$color-primary: #357BFF;
$color-primary-9: rgba($color-primary, 0.9);
$color-primary-8: rgba($color-primary, 0.8);
$color-primary-7: rgba($color-primary, 0.7);
$color-primary-6: rgba($color-primary, 0.6);
$color-primary-5: rgba($color-primary, 0.5);
$color-primary-4: rgba($color-primary, 0.4);
$color-primary-3: rgba($color-primary, 0.3);
$color-primary-2: rgba($color-primary, 0.2);
$color-primary-1: rgba($color-primary, 0.1);

$color-secondary: #2E9BFF;
$color-secondary-9: rgba($color-secondary, 0.9);
$color-secondary-8: rgba($color-secondary, 0.8);
$color-secondary-7: rgba($color-secondary, 0.7);
$color-secondary-6: rgba($color-secondary, 0.6);
$color-secondary-5: rgba($color-secondary, 0.5);
$color-secondary-4: rgba($color-secondary, 0.4);
$color-secondary-3: rgba($color-secondary, 0.3);
$color-secondary-2: rgba($color-secondary, 0.2);
$color-secondary-1: rgba($color-secondary, 0.1);

$color-pink: #F53F8A;
$color-pink-7: rgba($color-pink, 0.7);
$color-pink-5: rgba($color-pink, 0.5);
$color-pink-2: rgba($color-pink, 0.2);

$color-purple: #9978FB;
$color-purple-7: rgba($color-purple, 0.7);
$color-purple-5: rgba($color-purple, 0.5);
$color-purple-2: rgba($color-purple, 0.2);

$color-lilac: #EE91FB;
$color-lilac-7: rgba($color-lilac, 0.7);
$color-lilac-5: rgba($color-lilac, 0.5);
$color-lilac-2: rgba($color-lilac, 0.2);

$color-turqoise: #2CC9E3;
$color-turqoise-7: rgba($color-turqoise, 0.7);
$color-turqoise-5: rgba($color-turqoise, 0.5);
$color-turqoise-2: rgba($color-turqoise, 0.2);

$color-green: #44DC94;
$color-green-7: rgba($color-green, 0.7);
$color-green-5: rgba($color-green, 0.5);
$color-green-2: rgba($color-green, 0.2);
$color-green-1: rgba($color-green, 0.1);

$color-orange: #FFA057;
$color-orange-7: rgba($color-orange, 0.7);
$color-orange-5: rgba($color-orange, 0.5);
$color-orange-2: rgba($color-orange, 0.2);
$color-orange-1: rgba($color-orange, 0.1);

$color-red: #F5404C;
$color-red-7: rgba($color-red, 0.7);
$color-red-5: rgba($color-red, 0.5);
$color-red-2: rgba($color-red, 0.2);
$color-red-1: rgba($color-red, 0.1);

$color-black: #000000;
$color-white: #FFFFFF;

$color-gray: #101D2C;
$color-gray-90: rgba($color-gray, 0.9);
$color-gray-75: rgba($color-gray, 0.75);
$color-gray-60: rgba($color-gray, 0.6);
$color-gray-45: rgba($color-gray, 0.45);
$color-gray-30: rgba($color-gray, 0.3);
$color-gray-10: rgba($color-gray, 0.1);
$color-gray-5: rgba($color-gray, 0.05);
$color-gray-2: rgba($color-gray, 0.02);

$color-blue-grad-radial: radial-gradient(100% 100.15% at 87.74% 82.86%, #357BFF 0%, #2FBBFF 100%);
$color-blue-grad-linear : linear-gradient(161.16deg, #5B79E5 1.15%, #4041D7 154.9%);

// font 

$font-family-primary: 'Nunito';
$font-weight-thin: 300;
$font-weight-normal: 600;
$font-weight-bold: bold;

$font-size-label: 10px;
$font-size-overline: 10px;
$font-size-caption: 12px;
$font-size-link: 14px;
$font-size-button: 14px;
$font-size-body-1:16px;
$font-size-body-2: 14px;
$font-size-subtitle-2:14px;
$font-size-subtitle-1:16px;
$font-size-header-6:20px;
$font-size-header-5: 24px;
$font-size-header-4: 34px;
$font-size-header-3: 48px;
$font-size-header-2: 60px;
$font-size-header-1: 82px;

